# Ansible and related packages
ansible==8.7.0 # supports python3.9
ansible-core==2.15.7
ansible-lint==24.12.2

# Core tooling
yq>=3.2.0            # YAML processor for config handling
pre-commit>=3.7.0    # Hook manager for git pre-commit
ruff>=0.6.3          # Fast Python linter & formatter
yamllint>=1.35.1     # YAML linter
colorlog==4.8.0

# Developer utilities
pyyaml>=6.0.2        # YAML parsing and writing
